---
layout: pageTemplate.liquid
filename: media
title: Blogs
plaqueKey: v1-blog
---


<!-- TITLE SECTION -->
<div class="section dark" id="head">
  <div class="content">
    <div class="center" id="page-title">Blogs</div>
  </div>
</div>
<!-- FILTER SECTION -->
<div class="text-small" id="utility">
  <button class="btn-tag">announcement</button>
  <button class="btn-tag">project</button>
  <button class="btn-tag">review</button>
  <button class="btn-tag">personal</button>
  <button class="btn-tag">technology</button>
  <button class="btn-tag">coding</button>
  <button class="btn-tag">gaming</button>
  <button class="btn-tag">tv/movies</button>
</div>
<!-- ARTICLE SECTION -->
<div class="section" id="archive">
  <div class="content">
    <div class="flex-group media">
      {%- for post in collections.blog reversed -%}
        <a
          class="blog"
          id="blog-{{ forloop.index }}"
          href="{{ post.url }}">
          <div class="title">{{ post.data.title }}</div>
          <div class="date">{{ post.data.date | date: "%B %d, %Y" }}</div>
          <div class="summary">{{ post.data.description }}</div>
          <div class="tags">
            {%- for tag in post.data.displayTags -%}
              <span class="tag">{{ tag }}</span>
            {%- endfor -%}
          </div>
        </a>
      {%- endfor -%}
    </div>
    <div id="error">No results, sorry!</div>
  </div>
</div>

<script src="/resources/js/posts.js"></script>